.default_btn {
	background-color: dodgerblue;
	width: 100%;
	padding: 1rem;
	border-radius: .5rem;
}

.option_btn {
	background-color: #0a559f;
	border: 1px solid dodgerblue;
	width: 100%;
	padding: 1rem;
	border-radius: .5rem;
}

.img_wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.img {
	max-width: 100%;
	max-height: 100%;
}

.done_area {
	display: none;
	gap: 1rem;
	flex-direction: column;
	margin: 1rem 0;
}

#crop_canvas {
	position: absolute;
}

.result_gif {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #555;
}

#preview_crop {
	border: 1px solid #555;
}